<!-- Name: Janaath Vjayaseelan
  Student Number:301163902
  Course: COMP229-M2021 -->
   


<!--Main Section-->
  <%- include('./components/main.ejs'); %>

  <!-- Navigation Section -->
  <header>
    <%- include('./components/header.ejs'); %>
  </header>

  <!-- Main Content Area -->
  <main>
    <%- include('./content/' + page + '.ejs'); %>
  </main>
  
  <!-- Bottom Nav -->
  <footer>
    <%- include('./components/footer.ejs'); %>
  </footer>
    
  <!-- JavaScript Section -->
  <%- include('./components/javascript.ejs'); %>